/*
Color Palette
https://coolors.co/b09e99-fee9e1-0d1b2a-64b6ac-c0fdfb
#FFFD82 Yellow
#EF8354 Orange
#EE4B6A Pink
#DF3B57 Dark Pink
#0F7173 Teal


GitHub Link https://github.com/williamshana90/Williams-css-portfolio/commit/5452a1873339fa9b5cf8e3e567351d3a607de293
*/



/* Global Styles
--------------------------------*/
body {
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
}
img {
width: 300px;
}
a {
    color: #0D1B2A;
}
a:hover {
    text-decoration: none;
}
/*Profile
--------------------------------*/
header {
    background: #0F7173;
    color: #FFFD82;
    padding: 8px;
}

/*Projects
--------------------------------*/
.projects {
    background: #FFFD82;
    padding: 10px;
    color: #0F7173
}
.projects .btn {
    color: whitesmoke;
    background: #0F7173 ;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover {
    background: rgb(15,113,115,80%);
}

/*Education
--------------------------------*/
.education {
    background: #66A4A5;
    color: whitesmoke;
    padding: 8px;
}


/*Contact Info
--------------------------------*/
footer {
    background: #0F7173;
    color: #FFFD82;
    padding: 8px;
}
 