



/* Global Styles
--------------------------------*/
html {
	box-sizing: border-box;
			  
		  }
		  *, *:before, *:after {
			  box-sizing: inherit;
		  }
body {
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
img {
width: 200px;
}
a {
    color: #0D1B2A;
}
a:hover {
    text-decoration: none;
}
h1 {
	font-size: 50px;
	line-height: 1;
			  
		  }
			  
		  
h2 {
    font-size: 25px;
}
.content-wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
}
		  h1, h2 {
			  font-family: 'Lemonada', cursive;
			  font-weight: 400;
              margin: 0;
              text-shadow: 3px 5px 10px #000;
		  }

/*Profile
--------------------------------*/
header {
    background: #2EC4B6;
    color: #FFFFFF;
    padding: 0px;
}

/*Projects
--------------------------------*/
.projects {
    background: #FFBF69;
    padding: 10px;
    color: #2EC4B6
}
.projects .btn {
    color: whitesmoke;
    background: #2EC4B6;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgb(46, 196, 182);
}
.project-item {
			  overflow: hidden;
	border-bottom: 1px dashed #2EC4B6;
	padding: 25px 0;
		  }
.project-item img {
			  float:left;
	margin-right: 20px;
			   }
		  .project-item h3 {
			  margin-top: 0;
		  }

/*Education
--------------------------------*/
.education {
    background: #CBF3F0;
    color:#FFBF69;
    padding: 8px;
}


/*Contact Info
--------------------------------*/
footer {
    background: #2EC4B6;
    color: #FFBF69;
    padding: 8px;
}

